body {
	background:#b5d0d0;
	color:#285585;
	font-family:Arial;
    margin: 0;
}
body#home {
	background:url('../images/back.png') no-repeat top left #b5d0d0;
	margin-left:150px;
}

a {
	color:#1978cf;
}
a:hover {
	color:#fff;
}
h2, h3, h4 {
	white-space:nowrap;
	margin:1em 0 0 0;
}
h3 a,
h3 a:hover {
	text-decoration:none;
}
#desc {
	float: left;
	margin-bottom: 1em;
	position: relative;
	white-space:nowrap;
	font-size:1em;
}
#map {
	height:509px;	
}
ul {
	font-size:.85em;
	margin:0;
	padding:0;
}
li {
	margin:0 0 2px 18px;
}
#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	filter: alpha(opacity=80);
	-khtml-opacity: .8;
	-moz-opacity: .8;
	opacity: .8;		
}
.contents {
	float:left;
	margin:0 2em 2em 0;
}
#comments {
	clear:both;
}

.leaflet-overlay-pane svg path {
    fill: orange;
    fill-opacity: 0.05;
    stroke: red;
    stroke-width: 2px;
}